name: Build & Push PyTorch-CUDA Base Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract commit hash
        id: meta
        run: |
          echo "COMMIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Extract metadata
        id: meta_tag
        uses: docker/metadata-action@v4
        with:
          images: hxcan/pytorch-cuda
          tags: |
            ${{ env.COMMIT_SHA }}
            latest

      - name: Build and push base image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta_tag.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
